version: "3.9"

services:
  app:
    build: .
    container_name: agri-app
    ports:
      - "8000:8000"
    networks:
      - agri-network

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    networks:
      - agri-network

  grafana:
    image: grafana/grafana:9.5.15
    container_name: grafana
    ports:
      - "3000:3000"
    networks:
      - agri-network

networks:
  agri-network:
    driver: bridge